{% extends 'FormBase01.html.twig' %}


{% block body %}
    <h1>Create new Reservation</h1><br>

    {{ include('reservation/_form.html.twig') }}

    <a href="{{ path('reservation_index') }}">back to list</a>
{% endblock %}
