{% extends 'FormBase.html.twig' %}



{% block body %}
    <h1>Edit Spa</h1>

    {{ include('spa/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('spa_index') }}">back to list</a>

    {{ include('spa/_delete_form.html.twig') }}
{% endblock %}
