<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
           <link href="https://fonts.googleapis.com/css?family=Mukta+Mahee:200,300,400|Playfair+Display:400,700" rel="stylesheet">

           <link rel="stylesheet" href="/css/bootstrap.css">
           <link rel="stylesheet" href="/css/animate.css">
           <link rel="stylesheet" href="/css/owl.carousel.min.css">
           <link rel="stylesheet" href="css/aos.css">

           <link rel="stylesheet" href="/fonts/ionicons/css/ionicons.min.css">
           <link rel="stylesheet" href="/fonts/fontawesome/css/font-awesome.min.css">

           <!-- Theme Style -->
           <link rel="stylesheet" href="/css/style.css">
           <header class="site-header">
             <div class="container-fluid">
               <div class="row">
                 <div class="col-4 site-logo" data-aos="fade"><a href="index.html"><em>Jupiter</em></a></div>
                 <div class="col-8">


                   <div class="site-menu-toggle js-site-menu-toggle"  data-aos="fade">
                     <span></span>
                     <span></span>
                     <span></span>
                   </div>
                   <!-- END menu-toggle -->


                   </div>
                 </div>
               </div>
             </div>
           </header>
           <!-- END head -->

</head>
      {% endblock %}


           <section class="site-hero overlay" style="background-image: url(/img/z.jpg)">
             <div class="container">
               <div class="row site-hero-inner justify-content-center align-items-center">
                 <div class="col-md-10 text-center">
                   <h1 class="heading" data-aos="fade-up">Les<em> reservations</em></h1>
                   {% block body %}


                   {% endblock %}
                 </div>
               </div>
               <!-- <a href="#" class="scroll-down">Scroll Down</a> -->
             </div>
           </section>
<
  </div>
</section>
<!-- END section -->
